@font-face
{
  font-family: Sansation;
  src: url('Sansation_Regular.ttf');
} 
body {
    font-family: Sansation,"Open Sans",Calibri,Candara,Arial,sans-serif;
}
a {
    color: #8800aa;
    text-decoration: none;
}
.bg-primary {
    background-color: #222222 !important;
}
